@mixin content_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin btn{
    border: 2px solid $main_color;
    margin: 5px 5px;
    padding: 12px 35px;
    outline: none;
    color: $main_color;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}