@import "../scss/variables";
@import "../scss/import";
@import "../scss/mixin";
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

//   .........Home page started..........

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, $gradient__one, $gradient__one),
    url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  background-attachment: fixed;
  clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0% 75%, 0 0);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
    background: linear-gradient(to right, $gradient__two, $primary_color);
  }
  & .navbar {
      &::before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.5;
        z-index: -1;
        background: rgba(32, 32, 32, 0.431)
      }
      & button{
          background-color: $primary_color;
          height: 35px;
          width: 35px;
      }
    & a {
      font-family: "Roboto Mono", monospace;
      color: $main_color;
      font-weight: bold;
    }
    & .nav-item a{
       color: #000;
    }
  }
  & .hero {
    width: 100%;
    height: 88vh;
    color: $main_color;
    @include content_center;
    text-align: center;

    & .hero__content {
      width: 50%;
      & h1 {
        font-weight: bolder;
        color: black;
      }
      & p {
        font-size: 1.2rem;
        line-height: 1.6;
        font-weight: 400;
        padding: 12px 0;
        color: $main_color;
      }
      & .hero__content-btn {
        a {
          @include btn;
          text-decoration: none;
          transition: all 0.3s ease;
        }
        & .btn__one{
            color: #000;
            background: $main_color; 
            &:hover{
                box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
                background-color: transparent;
                color: $main_color;
            }    
        }
        & .btn__two:hover{
            color: #000;
            background: $main_color; 
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
        }
      }
    }
  }
}

//   .........Home page completed..........




// .......media queries.........
@media(max-width:760px){
#hero-text{
    width: 100%;
}
}