@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#fffb007c), to(#fffb007c)), url("../img/bg1.jpg");
  background-image: linear-gradient(to right, #fffb007c, #fffb007c), url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  background-attachment: fixed;
  -webkit-clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0% 75%, 0 0);
          clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0% 75%, 0 0);
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(#db36a4de), to(#f7ff00));
  background: linear-gradient(to right, #db36a4de, #f7ff00);
}

.header .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(32, 32, 32, 0.479);
}

.header .navbar button {
  background-color: #f7ff00;
  height: 35px;
  width: 35px;
}

.header .navbar a {
  font-family: "Roboto Mono", monospace;
  color: #fff;
  font-weight: bold;
}

.header .navbar .nav-item .active {
  color: #f7ff00;
}

.header .navbar .nav-item a {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .navbar .nav-item a:hover {
  color: #f7ff00;
}

.header .hero {
  width: 100%;
  height: 88vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .hero .hero__content {
  width: 50%;
}

.header .hero .hero__content h1 {
  font-weight: bolder;
  color: #000;
}

.header .hero .hero__content p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  padding: 12px 0;
  color: #fff;
}

.header .hero .hero__content .hero__content-btn a {
  border: 2px solid #fff;
  margin: 5px 5px;
  padding: 12px 35px;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-decoration: none;
}

.header .hero .hero__content .hero__content-btn .btn__one {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#db36a4b6), to(#f6ff00a9));
  background: linear-gradient(to right, #db36a4b6, #f6ff00a9);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .hero .hero__content .hero__content-btn .btn__one:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  background: transparent;
}

.header .hero .hero__content .hero__content-btn .btn__two {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .hero .hero__content .hero__content-btn .btn__two:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(#db36a4b6), to(#f6ff00a9));
  background: linear-gradient(to right, #db36a4b6, #f6ff00a9);
}

@media (max-width: 760px) {
  .navbar-collapse {
    text-align: center;
  }
  #hero-text {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */