@import "../scss/variables";
@import "../scss/import";
@import "../scss/mixin";
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}

//   .........Home page started..........

.navbar {
  position: sticky;
  top: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.877);
  & button {
    background-color: $primary_color;
    height: 35px;
    width: 35px;
  }
  & a {
    font-family: "Roboto Mono", monospace;
    color: $main_color;
    font-weight: bold;
  }
  & .nav-item {
    & .active {
      color: $primary_color;
    }
    a {
      color: $main_color;
      transition: all 0.3s ease;
      &:hover {
        color: $primary_color;
      }
    }
  }
}
.header {
  height: 90vh;
  width: 100%;
  background-image: linear-gradient(to right, #0000006e, #4343438e),
    url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // background-size: cover;
  position: relative;
  background-attachment: fixed;
  clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0% 75%, 0 0);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
    background: linear-gradient(to right, #000000, #434343);
  }
  & .hero {
    width: 100%;
    height: 88vh;
    color: $main_color;
    @include content_center;
    text-align: center;

    & .hero__content {
      width: 50%;
      & h1 {
        font-weight: bolder;
        color: $main_color;
      }
      & p {
        font-size: 1.2rem;
        line-height: 1.6;
        font-weight: 400;
        padding: 12px 0;
        color: $main_color;
      }
      & .hero__content-btn {
        a {
          @include btn;
          text-decoration: none;
        }

        & .btn__one {
          color: #fff;
          background: linear-gradient(to right, #db36a4b6, #f6ff00a9);
          transition: all 0.3s ease;

          &:hover {
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
            background: transparent;
          }
        }
        & .btn__two {
          transition: all 0.3s ease;

          &:hover {
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
            background: linear-gradient(to right, #db36a4b6, #f6ff00a9);
          }
        }
      }
    }
  }
}

//   .........Home page completed..........

//   .........About page started..........
.about {
  width: 100%;
  padding: 1.5rem 0rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    z-index: -1;
    background-color: $primary_color;
    clip-path: polygon(0 100%, 43% 60%, 66% 39%, 75% 27%, 100% 1%, 100% 100%);
  }
  & .aboutContainer {
    @include content_center;
    & .about__caption {
      @include content_center;
      flex-direction: column;
      & h2 {
        font-size: 3.2rem;
        text-transform: capitalize;
        font-weight: 900;
        margin: 2rem 0rem;
        text-align: center;
        & span{
          color: $primary_color;
          background-color: #000;
          padding: 0 0.2rem;
        }
      }
      & p {
        padding: 0rem 0.5rem;
        line-height: 2.4;
        text-align: center;
      }
      & .about__btn {
        @include btn;
        background-color: #000000;
        margin: 0.5rem 0rem;
        border: none;
        transition: all 0.3s ease ;
        &:hover{
          box-shadow: 3px 2.6px 2px 0px #000;
        }
        & a {
          text-decoration: none;
          color: white
        }
      }
    }
    & .about__img {
      @include content_center;
      margin: 0;
      & img {
        // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        height: 500px;
        width: 400px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}
//   .........About page completed..........

// .......media queries.........
@media (max-width: 760px) {
  .navbar-collapse {
    text-align: center;
  }
  #hero-text {
    width: 100%;
  }

  .about .aboutContainer .about__caption{
    & h2{
      font-size: 2.5rem;
    }
    & p{
      line-height: 1.5;
    }
  }
}
